{{battle-screen/army-on-tile rowId=rowId columnId=columnId animationPackage=animationPackage}}
<div class="hexagon-holder">
  <div class="top">
  </div>
  <div class="middle">
  </div>
  <div class="bottom">
  </div>
</div>
