<div id="bs-background">
  <div id="bs-fixed-size-background">
    <div id="battle-screen-main-portion">
      <div id="battle-screen-game-board">
        {{battle-screen/game-board}}
      </div>
    </div>
    <div id="battle-screen-footer-portion">
    </div>
  </div>
</div>
