<div {{action "transistionSection" "mainScreen" }} class="btn btn-success">Main Screen</div><br>
<div {{action "transistionSection" "cityScreen" }} class="btn btn-success">City Screen</div><br>
<div {{action "transistionSection" "battleScreen" }} class="btn btn-success">Battle Screen</div><br>
